.app {
  background-image: url(./images/pizza.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



select { 
  appearance: none; 
  outline: 0; 
  background: white; 
  background-image: none; 
  height: 100%; 
  color: black; 
  cursor: pointer; 
  border:1px solid black; 
  border-radius:3px; 
} 

.background{
  background-color: gray;
  min-height: 100vh;
}


.boro{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 65px;
  font-weight: bold;
  letter-spacing: -5px;
  text-align: center;
  padding: 30px;
}

p{
  margin: 0px;
}

.boroleft{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 55px;
  font-weight: bold;
  letter-spacing: -2.5px;
  text-align: center;
  padding: 5px;
}

.nom{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  letter-spacing: -2.5px;
  text-align: center;
  padding: 30px;
}

.home{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  letter-spacing: -2px;
  text-align: left;
  padding: 15px;
}

.home a:hover{
  color:rgb(193, 9, 9);
}

input{
  width: 35px;
  margin-right: 7px;
}

label{
  margin: 1px;
}

select{
  width: 15px;

}

form{
  display: flex;
  justify-content: center;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2%;
  margin-top: 12%;
}

.explanation{
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  font-size: 16px;
  margin-bottom: -127px;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

.grade{
  width: 100px;
}

.formtext{
  font-size: 14px;
  margin-top: 0px;

}

.result p{
  margin: 10px;

}

button{
  cursor: pointer;


}

button:hover{
  cursor: pointer; 
}

.result{
  background-color: gray;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 10px;
  width: 175px;
  height: 160px;
  border: 1px solid white;
  text-align: center;
  overflow-wrap: break-word;
}

.allResults{
  background-color: gray;
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

a{
  cursor: pointer;
  text-decoration: none;
  color: white;
}

a:visited{
  color:white
}
.boro:hover{
  color:rgb(193, 9, 9);
}

a.black:hover{
  color: black;
}

.rest{
  font-weight: 900;
  font-size: 14px;
  margin-top: 5px;
  padding: 5px;
}

select{
  text-align-last: center;
  border: none;
  margin-right: 7px;
}

.about{
  margin: 300px;
  background-color: black;
  padding: 10px;
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-se;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 2px;
  width: 100%;
  height: 5%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.copyright{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 6px;
}


.links{
  width:45%;
  margin: 0 auto
}


.links a{
  cursor: pointer;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

@media (max-width: 800px) {

  .links p{
    font-size: 30px;
  }

  .app {
    background-image: url(./images/pizza.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
  
form{
  display: flex;
  justify-content: center;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2%;
  margin-top: 40%;
}
  

}